body {
  margin: auto;
  text-align: center;
}

/* .nest {
  display: inline;
  position: relative;
  left: 850px;
  bottom: 850px;
}  */


.h1 {
  font-size: 70px;
  position: absolute;
  top: -90px;
  right: 700px;
  margin: 0;
  
}

.iu{
  color: white;
  font-family: 'Comforter Brush', cursive;
  font-size: 500%;
  margin: 0;

  position: relative;
  bottom:1000px;

}

.p0{
  color: white;
  font-family: 'Comforter Brush', cursive;
  font-size: 400%;
  margin: 0;

  position: relative;
  bottom:970px;


}

.intro{

  height: 1030px;
}



.img2 {
  border-radius: 100%;
  position: relative;
}

.profile {
  background-color: #cdb4db;
  line-height: 2;
  padding-top: 6px;
}

.skills {
  background-color: #ffc8dd;
  margin: auto;
  line-height: 2;
}

.skill-set {
  background-color: #ffafcc;
  line-height: 2;
}

.contact-me {
  background-color: #bde0fe;
  line-height: 2;
}

.bottom-setion {
  background-color: #a2d2ff;
  padding-bottom: 40px;
  padding-top: 10px;
}

p {
  margin-bottom: 0;
}

hr {
  margin: 0;
  border: dotted white 6px;
  
}

.ui {
  color: #7546B9;
  font-family: 'Comforter Brush', cursive;
  font-size: 50px;
  margin: 0;
  padding: 20px;
}

.p1 {
  width: 30%;
  margin: auto;
  padding-bottom: 20px;
}

.img3 {
  width: 10%;
  padding-top: 40px;
}

.h2 {
  padding: 10px;
}

.img4 {
  width: 12%;
  padding-top: 30px;
}

.img5 {
  width: 12%;
}

.btn {
  background: #d60fcf;
  background-image: -webkit-linear-gradient(top, #d60fcf, #8a58b3);
  background-image: -moz-linear-gradient(top, #d60fcf, #8a58b3);
  background-image: -ms-linear-gradient(top, #d60fcf, #8a58b3);
  background-image: -o-linear-gradient(top, #d60fcf, #8a58b3);
  background-image: linear-gradient(to bottom, #d60fcf, #8a58b3);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;


}
.btn{
  padding: 10px;
  margin-bottom: 10px;
  border: 10px;
}
.btn:hover {
  background: #209ae6;
  background-image: -webkit-linear-gradient(top, #209ae6, #158cdb);
  background-image: -moz-linear-gradient(top, #209ae6, #158cdb);
  background-image: -ms-linear-gradient(top, #209ae6, #158cdb);
  background-image: -o-linear-gradient(top, #209ae6, #158cdb);
  background-image: linear-gradient(to bottom, #209ae6, #158cdb);
  text-decoration: none;
}

.btn2{
  background: #685dba;
  background-image: -webkit-linear-gradient(top, #685dba, #732eb0);
  background-image: -moz-linear-gradient(top, #685dba, #732eb0);
  background-image: -ms-linear-gradient(top, #685dba, #732eb0);
  background-image: -o-linear-gradient(top, #685dba, #732eb0);
  background-image: linear-gradient(to bottom, #685dba, #732eb0);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn2:hover {
  background: #2197e0;
  background-image: -webkit-linear-gradient(top, #2197e0, #158cdb);
  background-image: -moz-linear-gradient(top, #2197e0, #158cdb);
  background-image: -ms-linear-gradient(top, #2197e0, #158cdb);
  background-image: -o-linear-gradient(top, #2197e0, #158cdb);
  background-image: linear-gradient(to bottom, #2197e0, #158cdb);
  text-decoration: none;
}
